/*-------------------------------------------------- Sidedbar Styling -------------------------------------------------*/

/*------------- Sidebar Logos -----------------*/

#logos_div {
  display: flex;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  justify-content: center;
}

/*----------- End Sidebar Logos ----------------*/


/*-------------'main' div css -----------------*/

#wrapper_main_div {
/*  width: 100%;*/
/*  height: 100%;*/
height: 100vh;
display: flex;
}

/*------------ End 'main' div css -------------*/


/*----------- 'sidebar' div css ---------------*/
.sidebar {
  height: 100%;
  width: 20%; /* 20% width 80% is taken by main_page_content */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
  background: #B5CEF2;
}
.sidebar a {
  font-size: 25px; /* Change fontsize later */
  /* color: #818181;  Text Color */
  display: block;
  transition: 0.3s;
}

#home_a:hover,
#log_issue_a:hover,
#logged_issues_a:hover,
#profile_a:hover,
#about_a:hover {
  color: #f1f1f1;
/*  background: #007bff;*/
  background: #6ea8fe;
}
/*Show Border around nav element if on current element url*/
.active a {
/*  color: orange;*/
  color: #f1f1f1;
  background: #007bff;
}

.sidebar p{
  display: inline-block;
}

/*--- for the horizontal line separator inside sidebar ---*/
.separator {
  position: absolute;
  width: 100%;
/*  bottom: 65px;*/
  bottom: 11%;
  display: flex;
  justify-content: center;
}

.separator hr {
  bottom: 50px; /* Adjust this value as needed */
  width: 90%; /* Adjust the width as needed */
}
/*--- End for the horizontal line separator inside sidebar ---*/

/*--- for the bottom buttons on sidebar ---*/
.bottom_button {
  width: 100px;
  height: 45px;
  display: flex;
  align-content: center;
}

#bottom_container_id {
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

/*--- End for the bottom buttons on sidebar ---*/

/*----------------------------------------------------- Page Responsiveness ----------------------------------------------------*/

/*-- Extra Small and Small Screens -- */
@media screen and (max-width: 767px){
  .sidebar {
    width: 75px;
  }
  
/* Center SVG and paragraph elements within the divs */
  #Log_Issue_icon_div svg,
  #Logged_Issues_icon_div svg,
  #Profile_icon_div svg,
  #About_icon_div svg,
  #home_icon_div p,
  #Log_Issue_icon_div p,
  #Logged_Issues_icon_div p,
  #Profile_icon_div p,
  #About_icon_div p {
    display: block; /* Make them block elements */
    margin: auto; /* Center them horizontally */
    text-align: center;
    font-size: 12px;
    padding: auto;
  }

  #home_icon_div p,
  #Log_Issue_icon_div p,
  #Logged_Issues_icon_div p,
  #Profile_icon_div p,
  #About_icon_div p {
    padding-top: 3px;
  }

  #home_icon_div {
    display: flex; /* Use flexbox for the parent div */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    text-align: center; /* Ensure text is centered */
  }

  #home_icon_svg {
   display: block; /* Ensure the SVG is a block element */
   margin: auto; /* Center the SVG horizontally */
  }

#bottom_container_id {
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
  height: 100px;
  width: 100%;
  display: flex; /* Use flexbox for the parent div */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: space-between; /* Center children vertically */
  text-align: center;
}

#signin_button_id p,
#signup_button_id p{
  font-size: 12px;
  padding: 0;
}

#signin_button_id,
#signup_button_id {
  height: 50px;
  width: 60px;
  margin: 5px;
  }
}
/*---- End Extra Small Screens ----*/



/*---- Medium and Above Screens ---*/
@media screen and (min-width: 768px){
  .sidebar {
    width: 200px;
  }

  #bottom_container_id {
    width: 200px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;    
  }

  #signin_button_id,
  #signup_button_id {
    width: 90px;
    height: 40px;
    margin: 0;
    padding: 0;
  }
/*---- End Medium and Above Screens ---*/

}

/*---End 'sidebar' div css---*/
